body {
    font-family: 'Montserrat';
}


h1 {
    font-family: 'Montserrat', sans-serif;   
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}


.brand_logo {
    height:50px;
    width: 100%;
   
}


.uppercase-letter {
    text-transform: uppercase;
}

.container-fluid {
    padding: 0 5%;
   
}

#header {
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

/* Navigation Bar */

.navbar {
    color: white    ;

}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;   ;
    font-weight: 400;

}




/* Slider */
#slider {
    position: relative;
    padding-top: 40%;
    background-color: #333;
    background: url(../img/slider/sliderpicture.jpg) top center / cover no-repeat;
    margin-top: 86px;
}

#slider .slider-content {
    position: absolute;
    bottom: 8%;
    color: black;
    text-align: center;
    width: 100%;
}

.slider-content h2 {
    font-size: 24px;
}

.slider-description {
    color: white;
}


/* About */
#about {
    text-align: center;
    padding: 3% 15%;

}

.about-heading {
    padding: 3% 0;
    color: #333;

}

.about-team p {
    margin: 16px 0;
}
.about-box {
    padding: 5%;
}

.about-box img{
    width: 80%;
    border-radius: 50%;
}


/* Features */

#features {
    padding: 7% 15%;
    background-color: #333;
}

#features h3 {
    color: rgb(218, 210, 210);
}

.feature-box {
    padding: 5%;
    text-align: center;
}

.icon {
    color: rgb(223, 215, 215);
    margin: 1rem;
}

.icon:hover {
    color: white;
}





/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ddd;
    color: #333;
    padding: 5% 5%;

   
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-image {
    width: 5%;
    border-radius: 50%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Contact */
#contact {
    padding: 7% 15%;

}

#contact h2 {
    text-align: center;
    margin-bottom: 5%;
}

#contact .btn:hover {
    opacity: 0.7;

}

#footer {
    background-color: black;
    padding: 2% 2%;
    text-align: center;
    color: #ddd;
}

#footer a {
    color: #ddd;
    font-size: 30px;
    margin: 0 16px;
}

#footer a:hover {
   opacity: 0.8;
}

#footer p {
    margin-top: 25px;
}

@media (max-width: 768px) {
    .about-team img {
        width: 40%;
    }
}
